<style>
.nv navbar navbar-default{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

    .container-fluid{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    }
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
    #orderNumber{
    margin-bottom: 5px;
    }

</style>
<nav class="nv navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="splash.html"><img src="images/mmmAudio.png"  style="display: inline-block; height: 40px; width: 90px; margin-top: -5px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://jaydeepgill.github.io/"><span style="font-size:1.5em;" class="glyphicon glyphicon-circle-arrow-left"></span> Return to GitHub</a></li>
        <li><a href="index.html"><span style="font-size:1.5em;" class="glyphicon glyphicon-home"></span> Home</a></li>
           <li><a href="guide.html"><span style="font-size:1.5em;" class="glyphicon glyphicon-edit"></span> Gaming Guide</a></li>
            <li><a href="wall.html"><span style="font-size:1.5em;" class="glyphicon glyphicon-picture"></span> Console History</a></li>
        <li><a href="details.html"><span style="font-size:1.5em;" class="glyphicon glyphicon-info-sign"></span> Product/Service Details</a></li>
        <li><a href="order.html"><span style="font-size:1.5em;" class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart <span id="orderNumber" style="font-size:1.2em;" class="label label-link label-as-badge"> 0 </span></a></li>

<li><button onclick="playAudio()" class="musicButton btn btn-success btn-outline" type="button">8-Bit Lovin</button></li>
<li><button onclick="pauseAudio()" class="musicButton btn btn-danger btn-outline" type="button">OK...That's Enough.</button> </li>
        </ul>
    <!-- <span class="glyphicon glyphicon-usd"></span> Pricing</a></li> -->


    </div>
           </nav>
